<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/login.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <h2>Sign-in into Grievance system</h2>
        </div>
        <form id="loginform" method="POST">
            {% csrf_token %}
            <div class="input-wrapper">
                <input name='username' type="username" id="username" required autocomplete="off">
                <label for="username">Enter Username</label>
                <div class="underline"></div>
            </div>
            <br>
            <br>
            <div class="input-wrapper">
                <input name='password' type="password" id="password" required autocomplete="off">
                <label for="password">Enter Password</label>
                <div class="underline"></div>
            </div>
            <div class="funct">
                <a href="#">Forgot Password?</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>